@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&display=swap');

*{ 
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
 }
 body{background: #fbfbfb;}
.p { font-size: 13px;}
.center{ text-align: center ;}
.corBlack{ color : rgb(102, 102, 102); }
.corWhite{ color : #fff; }
.container { width: 80%; margin: 0 auto; }
.flex{ display: flex; flex-wrap: wrap;  align-items: center;  justify-content: center; }
.flex li img{ width: 170px;   margin: 0 30px; }
.titles{ font-weight: bold;}
.green {background: #029d45 !important;padding: 15px 50px !important;}
.top {margin-top: 78px;}
.mob_sec{ display: none;}

#banner{
    width: 100%;
    background: url(./banner.jpg);

}

.bcg{
    background: url(./banner.jpg);
    background: linear-gradient(to bottom, #000000ed, #000473a8);
}
form { 
    display: flex; 
    flex-direction: column; 
}
.form {
    width: 100%;
    max-width: 352px;
    float: right;
    background: #fff;
    padding: 28px;
    box-sizing: border-box;
    position: relative;
    top: -81px;
    height: 490px;
}
form p {
    color : green;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    margin-bottom: 7px;
}
h1{
    font-size: 50px;
    color: #fff;
    margin: 17px 0;
    line-height: 1.2;
}
p { 
    color : #fff
}
.texto {
    width: 50%;
 }

.organize{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    padding-top: 13%;
    flex-wrap: wrap;
}
textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding-left: 5px;
    margin: 5px;
    height: 214px;
}
form input  {
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding-left: 5px;
    margin: 5px;
}
.btn-enviar{
    background: #1f3198;
    color : #fff;
    border: none;
}
.logo{
    position: absolute;
}
.logo img{
    height: 143px;
    margin-left: 147px;
}
main{
    width: 80%;
    margin: 50px auto;
}
main h2 {
    color: #333;
    text-align: center;
    margin: 40px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.customize{
    
width: 220px;
    
margin: 19px;
    
box-shadow: 0 0 10px #cecece;
    
border-radius: 11px;
    
box-sizing: border-box;
    
padding: 20px;
    
background: #fff;
}


/* ICONS */

.up, .ban, .fa-heartbeat{ color: rgb(141, 0, 0); }
.di{ color: rgb(0, 162, 255); }
.fa-credit-card{ color: black;    background: #eac600;}
.jus{ color : rgb(121, 47, 25)}
.us{ color :rgb(102, 102, 102)}
.ex{color: #85d012;}
.fa-star { color: rgb(236 236 0); }

.radius{ border-radius: 100%; border: solid 4px #ccc; }
.peaples ul li {
    display: flex;
    align-items:  center;
    /* max-width: 900px; */
    margin: 10px 0;
    box-shadow: 0 0 7px #ebebeb;
    border-radius: 10px;
    padding: 17px;
    background: #fff;
}


.img_cell{
    max-width: 300px;
}
.min { 
    width: 44px !important;
    border-radius: 100%;
    margin-right: 10px;
}

.avaliable {
    width: 163px;
    float: right;
    position: relative;
    right: -80px;
}
.smart{
    display: flex;
    margin: 50px auto;
    justify-content: center;
    flex-wrap: wrap;
}
.collum{
    width: 40%;
}
.collum h2 {
    font-size: 3vw;
    /* text-transform: uppercase; */
    font-weight: 900;
    margin: 15px 0;
}
.desc { 
    margin-bottom: 25px
}
.btn{
    border: none;
    background: #333;
    padding: 15px 25px;
    border-radius: 5px;
    color: #fff;

}
.cause{
    display: flex;
    justify-content: center;
    background: linear-gradient(178deg, #4e66ec, #000c71);
    box-shadow: 0 0 10px #ebebeb;
    flex-wrap: wrap;
    padding-bottom: 38px;
    width: 100%;
}
.cause img{
    max-height: 375px;
    position: relative;
    top: 56px;
    /* width: 150px; */
}
.cause h2{
    text-transform : uppercase;
    font-size: 2.5em
}
.cause p {
    font-size: 12px;

}
.mude {
    margin: 79px 100px;
    }
.parcas{
    background: #fff;
    padding: 3% 4% 0;
}
.mail{
    width: 70%;
    border: none;
    padding: 0 8px;
    border-radius: 5px;
    outline: none;
    height: 50px;
    margin-right: 17px;
    margin: 16px 7px;
}

footer{
    background: #333;
}
footer img { width: 100px;}
footer ul li a  {
    margin: 10px;
}
.differ { font-weight: 400; text-transform: uppercase; font-size: 16px;}
.space { justify-content: space-evenly; }
#gm_maps { height:  auto; max-width: 100%;}
#gm_maps iframe { width: 100%;}
.copyWrite { padding: 20px 0; background: rgb(15, 15, 15);}
.wwp {position: fixed;right: 2%;bottom: 2%;z-index: 999;}
.foo { padding: 25px 0 ;}

@media only screen and (max-width:800px){
       .texto{
           width: 90%;
           margin: 110px 0;
           text-align: left;
       }
       .collum {
           width: 86%;
           text-align: center;
       }
       .peaples ul li{
           flex-wrap: wrap;
           text-align: center;
           margin: 0 auto;
       }
           
        .avaliable {
            display: none !important;
        }
        .flex li img{
            text-align: center;
            margin: 29px auto;
        }
        h1{
            font-size: 30px;
            text-align: left;
            text-transform: uppercase;
        }
        .collum h2{ 
        font-size: 30px;
        }
        #other h2{
            font-size: 30px;
        }
        .cause img{
            width: 172px;
            top: 0;
        }
        .mude{
            margin: 50px 0;
        }
        .sec{
            display: none !important
        }
        .mob_sec{
            display: inline;
        }
        .img_cell{
            max-width: 200px
        }
        .logo img{
            margin: 0;
        }
        .left {
            justify-content: center !important;
        }
        #other{ 
            padding-top: 20px;
        }
}
#other{
    background: none;
}
#other img{ 
    max-height: 470px;
}
#other h2 { 
    color: #000;
    font-size: 2em;
}
.btn:hover{
background: #25d366; 
cursor: pointer;}

.de{
    color: tomato;
    text-decoration: line-through;
}
.to{
    color: green;
    font-weight: bold;
}
.left{ 
    justify-content: left;
    margin-top: 20px;
}

[data-anime="left"] {
    transform: translate3d(50px, 0, 0);
    opacity: 0;
    transition: 0.5s;
}

[data-anime="right"] {
    transform: translate3d(-50px, 0, 0);
    opacity: 0;
    transition: 0.5s;
}
[data-anime="top"]{
    transform: translate3d(0, -50px, 0);
    opacity: 0;
    transition: 0.5s;
}
[data-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}